---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
<script src="https://js.gleam.io/oi-zHlH63o1.js" async="async"></script>
  <div id="main">

    <nav><ul>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    </ul></nav>


    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if page.icon %}
        <div class="subtlecircle sectiondivider imaged">
          <img src="{{page.icon}}" alt="section icon" />
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>
        {% elsif page.fa-icon %}
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>
        {% endif %}
        <div class="container {{ page.style }}">
          {{ page.content }}
        </div>
      </div>
    {% endfor %}


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

/* Chatbot */
	
{% include analytics.html %}
  <link href="https://api.motion.ai/sdk/webchat.css" rel="stylesheet" type="text/css">
  <script src="https://api.motion.ai/sdk/webchat.js"></script>
  <script>
  motionAI_Init('12840?color=62a8ea&sendBtn=SEND&inputBox=Type+something...&token=f7fae6b5425bdedd1bae87da7371af74',true,400,470); /* botID with access token, display bot icon?, modal width, modal height */
  /* you may also invoke motionAI_Open(); to manually open the modal */
  </script>

/* Competition */
	
<script type="text/javascript">(function(d, t){
if(window.location.hash!='#gleam'&&(''+document.cookie).match(/(^|;)\s*GleamyZLfe=X($|;)/)){return;}
var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
g.src = "https://js.gleam.io/yZLfe/ol.js"; s.parentNode.insertBefore(g, s);
}(document, "script"));</script>

/* Google Analytics */
	
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
